.A {

  margin-left: left;
  padding-left: 10px;
  padding-right: 10px;

   }


.B .C{
    margin-block-end:100px;
    float:center;
    background-color:whitesmoke;
    max-width:50px;
    padding:20px;	 
    border:5px solid ;
    color:goldenrod; 
    border-radius: 5px;
    min-height:150px; }
    .D{
      text-align: center;
      border-radius:5px;
    box-shadow: 0 0 0 5px whitesmoke;
    margin-left: 16px;
      border-block-color:whitesmoke;
      border: 50px;
      padding: 6px 10px ;
        border:3px solid ;
        color:rgb(194, 147, 29);
        font-size:25px;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;

    }